
.form-section h2 {
    margin-bottom: 0.5rem;
}

.form-section h3 {
    margin: 0;
}

.alert-duplicate {
    width: fit-content;
    background-color: #03a8d8;
    color: white;
    padding: 0 10px ;
    border-radius: 3px;
    font-size: 20px;
    margin: 0;
}
